files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDuTCCAqECFB7zcwXE33J6tmkfv0COOtcWraa8MA0GCSqGSIb3DQEBCwUAMIGY
      MQswCQYDVQQGEwJVUzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRp
      c29uMRUwEwYDVQQKDAxUcmVrUm91bGV0dGUxCzAJBgNVBAsMAk5BMRMwEQYDVQQD
      DApUaW0gTWlya2VzMSowKAYJKoZIhvcNAQkBFht0bG1pcmtlc0BtYWRpc29uY29s
      bGVnZS5lZHUwHhcNMjMwNDIzMDMzNzQyWhcNMjQwNDIyMDMzNzQyWjCBmDELMAkG
      A1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwHTWFkaXNvbjEV
      MBMGA1UECgwMVHJla1JvdWxldHRlMQswCQYDVQQLDAJOQTETMBEGA1UEAwwKVGlt
      IE1pcmtlczEqMCgGCSqGSIb3DQEJARYbdGxtaXJrZXNAbWFkaXNvbmNvbGxlZ2Uu
      ZWR1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo53oRu6sNJvoyOVa
      IZ8CVk6i2EPKfbmrpsIUJpG38Vwnh8dYtSKQmFB658oIV13ZpTiBkgCOvjY8zyMR
      Dr8h2nFigDzXtZpwADRZUyE0WFZjgMRvD/YflzXDnAfS9rw+Py4wLg+GTocYlodK
      DXM7En2gGQapsak3YNjRPV4eAo5NrZOEK/xiYE0VTAoVoAcRRNW4OmGX+wJBLvsr
      sZMLUtiZFFA090kPKsz84HkYXWFi3Xy2i2m4PKbOg07Qc64pY0qjr2NCT7T+bi9d
      Q11pXEYVJcLbgenT5e+OL0knFTBxX6SeYE6+Em5Uv3KAxml5EtzaedFqiwCHkgOl
      cjRkCwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQA1RycdnlEMRuV2xtrz1D+SNzQV
      WGxBpry9Zrx+h/E32uqVGTRJoPYPqrhhhXcKkA2sXg2g25a3BPxN6bkFGtQKbAel
      Bt0XXmp7/w3pqQqchjjBc9oyq5AFODRxMt2SxP/L0z6/AJTlu0LCiFnzDhSiHx6G
      zj+4079di6JfA0gQtVTmhmlJEGZWn/qWSSfdilwGFl6Nyc4SjmPOa1buJrBDNfyK
      94361pjH32RbnLZfwzdS6RgZxlJlrWXKxpH0eejH79W6DfC7oZyKW9gf3WE6moPZ
      6uM47yq9TeoVLm9Oy3gtrU4AD+oHpiMdKc81hDMVtMZpROw3xEoQndGbK1X9
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      private key contents 
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart